{% extends "base.html" %}

{% block title %}Built-In Data Structure{% endblock %}

{% block header %}
<h1>Built-in Data Structure</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 
    
    {% set python_sidebar_syllabus = true %}  {# Set the local variable directly in child.html #}
    {% if python_sidebar_syllabus %}
        {% include 'base_content_sidebar_syllabus.html' %}
    {% endif %}

    <div class = "content" >
        <h2>Data Structure</h2>
        <p>Data Structure is a way to organize and store data in a computer so that it can be efficiently accessed, modified, and manipulated.</p>
			<p>Python provides a variety of built-in data structures, allowing us to choose the most suitable one for our specific use case. Here's a list of built-in data structure of Python:</p>
			<ul style="list-style-type: square">
				<li><p>Lists</p></li>
				<li><p>Tuples</p></li>
				<li><p>Sets</p></li>
				<li><p>Dictionaries</p></li>
			</ul>
			<br><br><br>
			
			<hr color="dustyrose">

			

			
			
			

  		<br><br><br><br>			
        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='list') }}" class="next-button" id="nextButton">Next &raquo;</a>

    </div>
</section>
{% endblock %}

{% set include_smooth_scrolling_js = True %}