{% extends "base.html" %}

{% block title %}File Handling{% endblock %}

{% block header %}
<h1>File Handling</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 
    
    {% set python_sidebar_syllabus = true %}  {# Set the local variable directly in child.html #}
    {% if python_sidebar_syllabus %}
        {% include 'base_content_sidebar_syllabus.html' %}
    {% endif %}

    <div class = "content" >
        <h2>File Handling</h2>
		<p>Python supports file handling which allows users to read, write, and manipulating files. Python provides built-in functions and modules to interact with files, allowing you to:</p>
		<ul>
			<li><p>Opening a file</p></li>
			<li><p>Read data from files</p></li>
			<li><p>Write data to files</p></li>
			<li><p>Append data to files</p></li>
			<li><p>Delete files</p></li>
			<li><p>Rename files</p></li>
			<li><p>Check the existance</p></li>
			<li><p>Get files information (size, modification time, etc.)</p></li>
		</ul><br><br><br>

		<hr color="dustyrose">
		<h2>Opening a file</h2>
		<p><b>Syntax:</b></p>
		<pre>
open(filename, mode)
		</pre>
		<p>It will return a file object</p>
		<br>
		<p>Modes can be one of the following:</p>
		<ul>
			<li><p>r - read</p></li>
			<li><p>w - write</p></li>
		    <li><p>a - append</p></li>
			<li><p>r+ - read & write</p></li>
			<li><p>w+ - write then read</p></li>
			<li><p>a+ - append then read</p></li>
			<li><p>x - exclusive mode</p></li>
		</ul><br><br><br>

		<hr color="dustyrose">
		<h2>Reading files</h2>


        
						
	

  		<br><br><br><br>			
        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='fileHandling') }}" class="next-button" id="nextButton">Next &raquo;</a>

    </div>
</section>
{% endblock %}

{% set include_smooth_scrolling_js = True %}