{% extends "base.html" %}

{% block title %}Control Flow - If Statements{% endblock %}

{% block header %}
<h1>If Statements in Python</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 

    {% set python_sidebar_syllabus = true %} 
    {% if python_sidebar_syllabus %}
        {% include 'base_content_sidebar_syllabus.html' %}
    {% endif %}

    <div class = "content" >
        <h2>Control Flow in Python</h2>
        <p>Flow control is the order in which the program's statement executes at run time.</p>
        <br><br><br>


        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}" class="next-button" id="nextButton">Next &raquo;</a>
        
    </div>
</section>
{% endblock %}


{% set include_smooth_scrolling_js = True %}
