{% extends "base.html" %}

{% block title %}Control Flow - If Statements{% endblock %}

{% block header %}
<h1>If Statements in Python</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 
    <div class = "syllabi">
        <ul>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='python_intro') }}">Introduction in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='inpOut') }}">Input/Output in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='dataTypes') }}">Data Types in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='ifStatements') }}"
                {% if active_chapter == 'ifStatements' %} class="selected" {% endif %}>
                Control-Flow - If Statement</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}">For Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='whileLoop') }}">While Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='transferStatements') }}">Transfer Statement</a></li>
            <li><a href="#functions">Functions</a></li>
            <li><a href="#lists">Lists, Tuples, and Dictionaries</a></li>
            <li><a href="#file-handling">File Handling</a></li>
            <li><a href="#error-handling">Error Handling</a></li>
            <li><a href="#modules">Modules and Packages</a></li>
            <li><a href="#oops">Object Oriented Programming</a></li>
        </ul>
    </div>

    <div class = "content" >
        <h2>Control Flow in Python</h2>
        <p>Flow control is the order in which the program's statement executes at run time.</p>
        <br><br><br>


        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}" class="next-button" id="nextButton">Next &raquo;</a>
        
    </div>
</section>
{% endblock %}


{% block jsNext %}
<script>
    function scrollToTop() {
     window.scrollTo({top:0, behavior: 'smooth'});
   }
</script>
{% endblock %}
