{% extends "base.html" %}

{% block title %}Python Course{% endblock %}

{% block header %}
<h1>Python</h1>
{% endblock %}

{% block content %}
<div class="hero-text">
    <h2>Course Overview</h2>
    <p>This Python course covers the fundamentals of programming with Python, including variables, data types, control flow, functions, and more.
        It is suitable for beginners with no prior programming experience.</p>
    <div class="syllabus">        
        <h2>Syllabus</h2>
        <ul>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='python_intro') }}">Introduction in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='inpOut') }}">Input/Output in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='dataTypes') }}">Data Types in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='ifStatements') }}">Control-Flow - If Statement</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}">For Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='whileLoop') }}">While Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='transferStatements') }}">Transfer Statement</a></li>
        </ul>    
    </div>
</div>

{% endblock %}