{% extends "base.html" %}

{% block title %}Control Flow - Transfer Statements{% endblock %}

{% block header %}
<h1>Transfer Statements in Python</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 
    <div class = "syllabi">
        <ul>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='python_intro') }}">Introduction in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='inpOut') }}">Input/Output in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='dataTypes') }}">Data Types in Python</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='ifStatements') }}">Control-Flow - If Statement</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}">For Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='whileLoop') }}">While Loop</a></li>
            <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='transferStatements') }}"
                {% if active_chapter == 'transferStatements' %} class="selected" {% endif %}>
                Transfer Statement</a></li>
            <li><a href="#functions">Functions</a></li>
            <li><a href="#lists">Lists, Tuples, and Dictionaries</a></li>
            <li><a href="#file-handling">File Handling</a></li>
            <li><a href="#error-handling">Error Handling</a></li>
            <li><a href="#modules">Modules and Packages</a></li>
            <li><a href="#oops">Object Oriented Programming</a></li>
        </ul>
    </div>

    <div class = "content" >
        <h2>Transfer Statements in Python</h2>
        <p>Allows a set of instructions to be performed repeatedly.</p>
        <br><br><br>


        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='whileLoop') }}" class="next-button" id="nextButton">Next &raquo;</a>
        
    </div>
</section>
{% endblock %}


{% set include_smooth_scrolling_js = True %}
