{% extends "base.html" %}

{% block title %}Control Flow - While Loop{% endblock %}

{% block header %}
<h1>While Loop in Python</h1>
{% endblock %}

{% block content %}
<section id = "course-details"> 
    <div class = "syllabi">
        <ul>
            <li><a href="{{url_for('pythonIntro')}}">Introduction to Python</a></li>
            <li><a href="{{url_for('pythonInputOutput')}}">Input/Output in Python</a></li>
            <li><a href="{{url_for('pythonDataTypes')}}">Data Types in Python</a></li>
            <li><a href="{{url_for('pythonIfStatements')}}">Control Flow - If Satements</a></li>
            <li><a href="{{url_for('pythonForLoop')}}">For Loop</a></li>
            <li class="selected"><a href="{{url_for('pythonWhileLoop')}}">While Loop</a></li>
            <li><a href="{{url_for('pythonTransferStatements')}}">Transfer Statements</a></li>
            <li><a href="#functions">Functions</a></li>
            <li><a href="#lists">Lists, Tuples, and Dictionaries</a></li>
            <li><a href="#file-handling">File Handling</a></li>
            <li><a href="#error-handling">Error Handling</a></li>
            <li><a href="#modules">Modules and Packages</a></li>
            <li><a href="#oops">Object Oriented Programming</a></li>
        </ul>
    </div>

    <div class = "content" >
        <h2>While Loop in Python</h2>
        <p>Allows a set of instructions to be performed repeatedly.</p>
        <br><br><br>


        <button onclick="scrollToTop()" class="scroll-top-button">&#8593;</button> &emsp;
        <a href = "{{url_for('pythonTransferStatements')}}" class="next-button" id="nextButton">Next &raquo;</a>
        
    </div>
</section>
{% endblock %}


{% block jsNext %}
<script>
    function scrollToTop() {
     window.scrollTo({top:0, behavior: 'smooth'});
   }
</script>
{% endblock %}
