{% if python_sidebar_syllabus %}
<div class = "syllabi">
    <ul>
        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='python_intro') }}"
            {% if active_chapter == 'python_intro' %} class="selected" {% endif %}>
            Introduction in Python</a></li> 

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='inpOut') }}"
            {% if active_chapter == 'inpOut' %} class="selected" {% endif %}>
                    Input/Output in Python</a></li>

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='dataTypes') }}"
            {% if active_chapter == 'dataTypes' %} class="selected" {% endif %}>
            Data Types in Python</a></li>

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='ifStatements') }}"
            {% if active_chapter == 'ifStatements' %} class="selected" {% endif %}>
            Control-Flow - If Statement</a></li>

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='forLoop') }}"
            {% if active_chapter == 'forLoop' %} class="selected" {% endif %}>
            For Loop</a></li>

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='whileLoop') }}"
            {% if active_chapter == 'whileLoop' %} class="selected" {% endif %}>
            While Loop</a></li>

        <li><a href="{{ url_for('display_chapter', course_name='python', chapter_name='transferStatements') }}"
            {% if active_chapter == 'transferStatements' %} class="selected" {% endif %}>
            Transfer Statement</a></li>
            
        <li><a href="#functions">Functions</a></li>
        <li><a href="#lists">Lists, Tuples, and Dictionaries</a></li>
        <li><a href="#file-handling">File Handling</a></li>
        <li><a href="#error-handling">Error Handling</a></li>
        <li><a href="#modules">Modules and Packages</a></li>
        <li><a href="#oops">Object Oriented Programming</a></li>
    </ul>
</div>

{% elif Numpy_sidebar_syllabus %}
<div class = "syllabi">
    <ul>
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='whatIsNumpy') }}"
            {% if active_chapter == 'whatIsNumpy' %} class="selected" {% endif %}>
            What is Numpy</a></li> 
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='numpyArrays') }}"
            {% if active_chapter == 'numpyArrays' %} class="selected" {% endif %}>
            Numpy Arrays</a></li> 
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='numpyIndexingSelecting') }}"
            {% if active_chapter == 'numpyIndexingSelecting' %} class="selected" {% endif %}>
            Numpy Indexing and Selection</a></li>
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='numpyOperations') }}"
            {% if active_chapter == 'numpyOperations' %} class="selected" {% endif %}>
            Numpy Operations</a></li> 
    </ul>
</div>

{% elif Pandas_sidebar_syllabus %}
<div class = "syllabi">
    <ul>
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='whatIsPandas') }}"
            {% if active_chapter == 'whatIsPandas' %} class="selected" {% endif %}>
            What is Pandas</a></li> 
    </ul>
</div>

{% elif Matplotlib_sidebar_syllabus %}
<div class = "syllabi">
    <ul>
        <li><a href="{{ url_for('display_chapter', course_name='pythonForDataScience', chapter_name='whatIsMatplotlib') }}"
            {% if active_chapter == 'whatIsMatplot' %} class="selected" {% endif %}>
            What is Matplotlib</a></li> 
    </ul>
</div>

{% endif %}