{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block header %}
<h1>Courses</h1>
{% endblock %}

{% block content %}
<section id="courses">
    <div class="course">
        <a href="{{ url_for('display_chapter', course_name='python', chapter_name='python') }}">
        <img src="/static/images/python.png" width=220px height=160px alt="Python Courses">
        <h4>Python Programming</h4>
        </a>
    </div>

    <div class="course">
        <a href="{{ url_for('display_chapter', course_name='pythonForDataScience',chapter_name='pythonForDataScience')}}">
        <img src="/static/images/pythonDS.jpg" width=220px height=160px alt="Python For Data Science Courses">
        <h4>Python For Data Science</h4>
        </a>
    </div>

    <div class="course">
        <a href="#ML/ml.html">
        <img src="/static/images/ml.jpeg" width=220px height=160px alt="Machine Learning Courses">
        <h4>Machine Learning</h4>
        </a>
    </div>

    <div class="course">
        <a href="#nlp.html">
        <img src="/static/images/nlp.jpg" width=220px height=160px alt="NLP Courses">
        <h4>Natural Language Processing</h4>
        </a>
    </div>

    <div class="course">
        <a href="#deepLearning.html">
        <img src="/static/images/dl.jpg" width=220px height=160px alt="Deep Learning Courses">
        <h4>Deep Learning</h4>
        </a>
    </div>

    <div class="course">
        <a href="#deepLearning.html">
        <img src="/static/images/pyspark.jpg" width=220px height=160px alt="PySpark Course">
        <h4>Pyspark</h4>
        </a>
    </div>
 </section>
{% endblock %}